
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
  
  
  body, html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
  
/* topnav style*/
  
  #myTopnav{
  height: 8%;
  background-color: rgb(70, 52, 113);
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
}

.topnav a {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  font-size: 19px;
}

.topnav a:hover {
  background-color: white;
  color: 	rgb(70, 52, 113);
}

.active {
  background-color: rgb(70, 52, 113);
  color: white;
}

i {
  margin-right: 0.3em;
}

/*flex container style*/  

.flex-container {
  height: 84%;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items:center;
  width: 100%;
  line-height: 1.8;
  background-color: white;
}

/*.formPanel style*/
  
#formPanel {
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  padding: 3%;
  width: 40%;
  height: 93%;
  border-radius: 0px;
  margin-right: 2%;
  border: 2px solid;
  border-color: rgb(70, 52, 113); 
}

  
.fillInSquare {
   width: 94%; 
   border-radius: 4px;
   font-size: 15px;
   padding: 5px;
   text-align: center;
}
  
h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 3;  
  }
  
.button {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(70, 52, 113);
  color: white;
  font-weight: bold;
  padding: 12px 20px;;  
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
    background-color: rgb(95, 75, 139);
    font-weight: bold;
}


  
/*gateSelector style*/

 #gateSelector {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  padding: 3%;
  width: 53%;
  height: 93%;
  border: 2px solid;
  border-color: rgb(70, 52, 113);
  overflow: scroll; 
  text-align: left;

}
  
#gateSelector h1{
  display: block;
  text-align: center;
  }

  

#repeatableRow {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-bottom: 0.5em;
   
  }
  
#gateName {
    display: inline-block;
    margin-left: 1.5em;
  }
  

/*footer style*/

footer {
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(70, 52, 113);
  color: white;
}

  
